.projectContentContainer {
    margin-inline  : 5%;
    background     : rgba(245, 245, 245, 0.902);
    backdrop-filter: blur(15px);
    margin         : 5% 2%;
    border-radius  : 10px;
}

.projectTitle {
    text-align    : center;
    font-size     : 32px;
    padding-top   : 2%;
    text-transform: uppercase;
}

.projectContent {
    padding-inline: 2%;
    padding-bottom: 2%;
}

.projectContent .content {
    margin-top : 3%;
    line-height: 1.6rem;
    text-align : justify;
}

.projectContent .content .contentTitle {
    font-size: 26px;
}

.projectContent .content .conentInfo {
    margin-top : 2%;
    font-size  : 20px;
    margin-left: 1.5%;
}

.projectContent .content li {
    margin-left: 1.5%;
}

.projectContent .content a {
    text-decoration: underline;
}

.projectContent .content .conentInfo a {
    color: black;
}