* {
  margin         : 0;
  padding        : 0;
  list-style     : none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  gap    : var(--gap, 5ex);
}

.flexCenter {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.bold {
  font-weight: bold;
}

body {
  background-color: #242222;
}

.header {
  text-align    : center;
  margin-top    : 3%;
  font-size     : 44px;
  font-family   : Ubuntu;
  letter-spacing: 2px;
  font-weight   : bold;
  text-transform: uppercase;
}

.VideoContainer{
  position: relative;
  overflow: hidden;
  height: 0px;        
  padding-top: 56.25%;       
}

iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}